/*
0 - 600px      phone
600 - 900px    tablet portrait
900 - 1200px   tablet landscape
1200 1800px    is where our normal styles apply
1800px + -     big screen

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desk


ORDER: Base + Typography > general layout + grid > page layout > components
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&family=Yanone+Kaffeesatz:wght@300;500;700&display=swap");
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1.5rem);
            transform: translateX(-1.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1.5rem);
            transform: translateX(-1.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 100%;
}

@media only screen and (max-width: 62.5em) and (orientation: landscape) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 80%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 105%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Raleway', sans-serif;
}

h1,
.heading-primary {
  font-family: 'Yanone Kaffeesatz', Geneva, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 6rem;
  line-height: 0.85em;
  letter-spacing: 0.07em;
}

@media only screen and (max-width: 37.5em) {
  h1,
  .heading-primary {
    font-size: 4.9rem;
  }
}

h2,
.heading-secondary {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
}

h3,
.heading-tertiary {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.2em;
}

p {
  line-height: 1.5rem;
}

.u-text-center {
  text-align: center;
}

.u-margin-bottom-sm {
  margin-bottom: 0.5rem;
}

.u-margin-bottom-md {
  margin-bottom: 1rem;
}

.u-margin-bottom-big {
  margin-bottom: 2rem;
}

.btn:link, .btn:visited {
  text-decoration: none;
  background-color: #fff;
  color: #354b56;
  font-size: 1.2rem;
  font-family: Raleway, sans-serif;
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 1.2rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn:hover {
  -webkit-transform: scale(1.05) translateY(-3px);
          transform: scale(1.05) translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(238, 238, 238, 0.1);
          box-shadow: 0 1rem 2rem rgba(238, 238, 238, 0.1);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(238, 238, 238, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(238, 238, 238, 0.1);
}

.btn--blue:link, .btn--blue:visited {
  background-color: #354b56;
  color: white;
}

.btn--yellow:link, .btn--yellow:visited {
  background-color: #ebbb64;
  color: #354b56;
}

.cards {
  width: 12.5rem;
  height: 21rem;
  padding-top: 4rem;
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
  .cards {
    width: 11rem;
    height: 21rem;
    margin-top: -3rem;
  }
}

.cards__card {
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  cursor: pointer;
}

.cards__card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (hover: none) {
  .cards__card__img {
    -webkit-filter: brightness(40%);
            filter: brightness(40%);
    -o-object-position: top;
       object-position: top;
  }
}

.cards__card__text {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (hover: none) {
  .cards__card__text {
    opacity: 1;
  }
}

.cards__card:hover .cards__card__img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(2px) brightness(40%);
          filter: blur(2px) brightness(40%);
}

.cards__card:hover .cards__card__text {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.info-card {
  height: 23rem;
  min-width: 17rem;
  max-width: 19rem;
  background-color: rgba(238, 238, 238, 0.85);
  border-radius: 8px;
  overflow: hidden;
  color: #354b56;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.4);
  text-align: center;
  padding: 2rem 1rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media only screen and (max-width: 62.5em) {
  .info-card {
    margin: 0 auto;
  }
}

.info-card__icon {
  font-size: 4rem;
  display: block;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 2rem;
}

.info-card__text {
  width: 85%;
  text-align: left;
  margin: 0 auto;
  line-height: 1.3rem;
}

.info-card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 0.6rem 1rem rgba(204, 204, 204, 0.5);
          box-shadow: 0 0.6rem 1rem rgba(204, 204, 204, 0.5);
}

.appear {
  opacity: 1 !important;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.form-container {
  background-color: rgba(238, 238, 238, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem;
  color: #354b56;
  border-radius: 5px;
}

.form-container h3 {
  font-size: 1.8rem;
}

.form {
  justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  margin-bottom: 0.2em;
  font-size: 0.9rem;
  font-family: inherit;
  padding: 0.3em 0.3em;
  margin-bottom: 0.6em;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.1);
          box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.1);
  border-bottom: 3px solid #354b56;
}

.form__input:focus:invalid {
  border-bottom: 3px solid orangered;
}

.form__label {
  font-size: 1rem;
  margin-bottom: 0.1em;
}

.form__text {
  margin-bottom: 0.2em;
  width: 20rem;
  font-family: inherit;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  padding: 0.3em 0.3em;
}

.form__text:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.1);
          box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.1);
  border-bottom: 3px solid #354b56;
}

.form__text:focus:invalid {
  border-bottom: 3px solid orangered;
}

.form__button, .form__button:link, .form__button:visited {
  font-size: 1rem;
  width: 100%;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.5em auto 0 auto;
  color: #eee;
  border-radius: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  background-color: #354b56;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.form__button:hover {
  -webkit-transform: scale(1.01) translateY(-1px);
          transform: scale(1.01) translateY(-1px);
  background-color: #eca76e;
}

.form__button:active, .form__button:focus {
  -webkit-transform: scale(1.01) translateY(-1px);
          transform: scale(1.01) translateY(-1px);
  background-color: #eca76e;
}

.grid__content--span_end {
  grid-column: 1/-1;
}

.grid__content--span2 {
  grid-column: span 2;
}

.grid .cards {
  place-self: center center;
}

.img-container {
  width: 100%;
  height: 70%;
}

.img-container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center 5%;
     object-position: center 5%;
}

@media only screen and (max-width: 62.5em) {
  .order-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .order-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .order-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .order-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .order-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .order-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .order-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .order-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  .order-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
  .order-13 {
    -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
            order: 13;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.popup-box {
  min-width: 60%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #354b56;
  padding: 1.5em 1em 1em 1em;
  background-color: #eeeeee;
  -webkit-box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.9);
          box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.9);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

@media only screen and (max-width: 62.5em) {
  .popup-box {
    width: 90%;
    height: auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .popup-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.popup-box__img {
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13rem;
          flex: 0 0 13rem;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .popup-box__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20rem;
            flex: 0 0 20rem;
    margin-bottom: 0.5rem;
  }
}

.popup-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.popup-box__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}

.popup-box__text h3 {
  font-size: 2rem;
}

.popup-box__exit {
  font-size: 1.4rem;
  position: absolute;
  top: 0.1em;
  right: 0.5em;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.popup-promo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
}

.popup-promo-active {
  visibility: visible;
  opacity: 1;
}

.popup-promo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 60vh;
  width: 55vh;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(53, 75, 86, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-promo-box__img {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: -1rem;
}

.popup-promo-box__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.popup-promo-box__exit {
  position: absolute;
  top: 0;
  right: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.video-container__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  margin: 0 auto;
  padding: 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 37.5em) {
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__logo-box {
  width: 10rem;
  display: block;
}

@media only screen and (max-width: 37.5em) {
  .footer__logo-box {
    width: 5rem;
    display: none;
  }
}

.footer__logo {
  width: 100%;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  text-align: left;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer__list {
  list-style: none;
}

.footer__list--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.3em;
}

.footer__item {
  font-size: 0.9rem;
  margin-bottom: 0.3em;
}

.footer__item i {
  margin-right: 0.2rem;
}

@media only screen and (max-width: 37.5em) {
  .footer__item {
    font-size: 0.6rem;
  }
}

.footer__link {
  padding-right: 1em;
}

.footer__link__icon {
  width: 1.2rem;
}

.footer__copyright {
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer__copyright-text {
  font-size: 0.8rem;
}

@media only screen and (max-width: 37.5em) {
  .footer__copyright-text {
    font-size: 0.5rem;
    line-height: 1.5em;
  }
}

.grid {
  width: 85%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12.5rem, 1fr))[4];
      grid-template-columns: repeat(4, minmax(12.5rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 4rem 2.5rem;
}

@media only screen and (max-width: 62.5em) {
  .grid {
    -ms-grid-columns: (minmax(10rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(10rem, 1fr));
    grid-gap: 1rem 0.5rem;
  }
}

.grid hr {
  color: #aaa;
}

@media only screen and (max-width: 75em) {
  .projects-main .grid {
    -ms-grid-columns: (minmax(10rem, 1fr))[2] !important;
        grid-template-columns: repeat(2, minmax(10rem, 1fr)) !important;
    grid-gap: 1rem 0.5rem !important;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  padding-top: 0.75rem;
  margin: 0 auto;
}

.header__logo-container .logo {
  max-width: 9.5rem;
}

.header .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-bottom: 0.8rem;
  position: relative;
}

@media only screen and (max-width: 75em) {
  .header .nav__links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30vw;
    background-color: rgba(53, 75, 86, 0.95);
    z-index: 9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15vh 0 15vh 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
}

.header .nav__links__link a,
.header .nav__links__link a:link,
.header .nav__links__link a:visited {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  padding: 0.3em 1.2em;
  z-index: 100;
  cursor: pointer;
  position: relative;
}

.header .nav__links__link a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: height cubic-bezier(1, 0, 0, 1) 0.4s 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: height cubic-bezier(1, 0, 0, 1) 0.4s 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, height cubic-bezier(1, 0, 0, 1) 0.4s 0.2s, background-color 0.1s;
  transition: transform 0.2s, height cubic-bezier(1, 0, 0, 1) 0.4s 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}

.header .nav__links__link a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  height: 100%;
}

.header .nav__links__link a:hover {
  color: #eca76e;
  z-index: 20;
}

.header--about {
  position: absolute;
  top: 0;
  left: 50%;
  width: 85vw;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burguer {
  display: none;
  position: fixed;
  top: 1.65vh;
  right: 5vw;
  z-index: 10;
}

.burguer div {
  width: 22.5px;
  height: 2px;
  background-color: #fff;
  margin: 0.5rem;
}

@media only screen and (max-width: 75em) {
  .burguer {
    padding: 0.5rem 0;
    display: block;
    cursor: pointer;
  }
}

.burguer-active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  opacity: 1 !important;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg translate(-5px, 6px));
          transform: rotate(-45deg translate(-5px, 6px));
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg translate(-5px, -6px));
          transform: rotate(-45deg translate(-5px, -6px));
}

.music-about {
  padding-top: 8rem;
  padding-bottom: 2rem;
  background: url(../imagens/bg-about.png) no-repeat;
  background-position: top;
  background-size: cover;
}

@media only screen and (max-width: 62.5em) {
  .music-about {
    padding-top: 10rem;
  }
}

.music-about .link:link,
.music-about .link:visited {
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.music-about .link:hover {
  -webkit-box-shadow: 0 0.1rem 0.4rem rgba(255, 255, 255, 0.3);
          box-shadow: 0 0.1rem 0.4rem rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 37.5em) {
  .music-about .cta-music {
    font-size: 110%;
  }
}

.text-appear {
  opacity: 0;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.contact {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background: url(../imagens/bg-about.png) no-repeat;
  background-position: top;
  background-size: cover;
  height: 100vh;
  position: relative;
}

@media only screen and (max-width: 62.5em) {
  .contact {
    padding-top: 10rem;
  }
}

.about-main__section-about {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background: url(../imagens/bg-about.png) no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 62.5em) {
  .about-main__section-about {
    padding-top: 10rem;
  }
}

.section-header {
  background-image: url("../imagens/bg-1.png"), url("../imagens/content1.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center 33%;
  height: 100vh;
}

@media only screen and (max-width: 62.5em) {
  .section-header {
    background-image: url("../imagens/bg-about.png"), url("../imagens/content4.jpg");
    background-blend-mode: multiply;
  }
}

.home-hero {
  width: 85%;
  text-align: left;
  margin: auto;
  height: 90vh;
  position: relative;
}

.home-hero__content {
  position: absolute;
  top: 40%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 37.5em) {
  .home-hero__content {
    left: 50%;
  }
}

.home-hero__content h1 {
  -webkit-animation: fadeIn 1.5s ease-in backwards;
          animation: fadeIn 1.5s ease-in backwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.section-about {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: url(../imagens/bg-about2.png) no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.info {
  margin: 0 auto;
  height: 90vh;
  padding: 1rem 0;
  background-image: url("../imagens/bg.png"), url("../imagens/content3.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25vw)[auto-fit];
      grid-template-columns: repeat(auto-fit, 25vw);
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 62.5em) {
  .info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0.5rem;
    width: 100%;
    height: auto;
  }
}

.footer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #354b56;
}

.projects {
  padding-top: 8rem;
  padding-bottom: 2rem;
  background: url(../imagens/bg-about.png) no-repeat;
  background-position: top;
  background-size: cover;
}

@media only screen and (max-width: 62.5em) {
  .projects {
    padding-top: 10rem;
  }
}

.projects .grid {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem 1.5rem;
  border-radius: 8px;
  color: #354b56;
}

.projects .img-container {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.projects .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-projects {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
  margin: 0 auto 2rem auto;
}

.nav-projects .nav-items {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.2rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: transparent;
}

.nav-projects .nav-items:hover {
  -webkit-transform: scale(1.1) translateY(-3px);
          transform: scale(1.1) translateY(-3px);
  -webkit-box-shadow: 0 0.4rem 0.8rem rgba(238, 238, 238, 0.2);
          box-shadow: 0 0.4rem 0.8rem rgba(238, 238, 238, 0.2);
}

.project-files {
  list-style: none;
}

.project-files .file {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background-color: #354b56;
}

@media only screen and (max-width: 37.5em) {
  .project-files .file {
    margin-top: 0.5rem;
  }
}

.project-files .file:not(:last-child) {
  margin-right: 0.5em;
}

.project-files .file i {
  margin-right: 2px;
}

.project-files .file a {
  text-decoration: none;
  color: #eee;
}

.grid.baile-dos-fios,
.grid.frevos-de-rua {
  display: none;
}
/*# sourceMappingURL=main.css.map */