.footer {
  margin: 0 auto;
  padding: 1em 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
  }

  @include respond(phone) {
    justify-content: space-between;
  }
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  // gap: 5rem;
  // grid-auto-flow: dense;
  // display: flex;
  // justify-content: space-around;

  &__logo-box {
    width: 10rem;
    display: block;
    @include respond(phone) {
      width: 5rem;
      display: none;
    }
  }

  &__logo {
    width: 100%;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    text-align: left;
    align-self: flex-end;
  }

  &__list {
    list-style: none;
    &--nav {
      display: flex;
      padding-top: 0.6em;

      align-items: center;
    }
  }

  &__item {
    font-size: 1rem;

    margin-bottom: 0.4em;
    @include respond(phone) {
      font-size: 0.6rem;
    }
  }

  &__icon {
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.3rem;
    transform: translateY(3px);
  }

  &__link {
    padding-right: 1em;

    &__icon {
      width: 2rem;
    }
  }

  &__copyright {
    text-align: right;
    align-self: flex-end;
  }

  &__copyright-text {
    font-size: 0.8rem;
    @include respond(phone) {
      font-size: 0.5rem;
      line-height: 1.5em;
    }
  }
}
