.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 12;

  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: center;
  transition: all 0.2s ease;
}

.popup-box {
  //adicionar min width para que o popup nao fique muito estreito quando a tela diminui

  min-width: 60%;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: $color-blue;

  padding: 1.5em 1em 1em 1em;

  background-color: rgba(#eee, 1);
  box-shadow: 0 1rem 2rem rgba(#333, 0.9);
  border-radius: 5px;

  display: flex;
  align-items: center;

  z-index: 12;

  @include respond(tab-port) {
    width: 90%;
    height: auto;
  }

  @include respond(phone) {
    flex-direction: column;
  }

  &__img {
    height: 100%;
    flex: 0 0 13rem;
    // min-width: 13rem;
    // adicionar min width aqui para a foto não ficar muito estreita quando a tela diminuir
    // min-width: 15rem;

    overflow: hidden;

    border-radius: 5px;
    margin-right: 1rem;

    @include respond(phone) {
      // height: 18rem;
      // width: 90%;
      flex: 0 0 20rem;
      margin-bottom: 0.5rem;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__text {
    // height: 100%;
    flex: 1;
    margin-right: 1rem;

    & h3 {
      font-size: 2rem;
    }
  }

  &__exit {
    font-size: 1.4rem;
    position: absolute;
    top: 0.1em;
    right: 0.5em;
    cursor: pointer;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transform-origin: center;
}

.popup-promo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  height: 100vh;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  // visibility: hidden;
  // opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.popup-promo-active {
  visibility: visible;
  opacity: 1;
}

.popup-promo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 60vh;
  width: 55vh;

  padding: 1rem;
  border-radius: 8px;
  background-color: rgba($color-blue, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: -1rem;

    & img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__exit {
    position: absolute;
    top: 0;
    right: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
