*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1rem is
  font-size: 100%;

  @media only screen and (max-width: 62.5em) and (orientation: landscape) {
    font-size: 75%;
  }

  @include respond(phone) {
    font-size: 80%;
  }

  @include respond(big-desk) {
    font-size: 105%;
  }
}

body {
  box-sizing: border-box;
}
