.about-main {
  &__section-about {
    padding-top: 6rem;
    padding-bottom: 2rem;
    background: url(../imagens/bg-about.png) no-repeat;
    background-position: top;
    background-size: cover;

    // teste de popup
    position: relative;

    @include respond(phone) {
      padding-top: 10rem;
    }
  }
}
