.section-header {
  // background-image: linear-gradient(to right bottom, #ebbc64d7, #eca76ed7),
  //   url('../imagens/content1.jpg');

  background-image: url('../imagens/bg-1.png'), url('../imagens/content1.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center 33%;
  height: 90vh;
}

.home-hero {
  width: 85%;
  text-align: left;
  margin: auto;
  height: 90vh;
  position: relative;
  &__content {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    & h1 {
      animation: fadeIn 1.5s ease-in backwards;
      backface-visibility: hidden;
    }
  }
}

.section-about {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: url(../imagens/bg-about.png) no-repeat;
  background-position: top;
  background-size: cover;

  // teste de popup
  position: relative;
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25vw);
  width: 85%;
  margin: auto;
  height: 90vh;
  padding-top: 3em;
  gap: 2rem;
  justify-content: center;

  &__card {
    height: 500px;
    width: 100%;

    border-radius: 8px;
    overflow: hidden;
    color: #333;
    box-shadow: 0 0.5rem 1rem rgba(#333, 0.4);
  }

  &__card--projects {
    text-align: center;

    P {
      width: 85%;
      text-align: left;
      margin: 2.5rem auto 1rem auto;
    }
  }

  &__card__img-container {
    width: 90%;
    margin: 1rem auto;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__card--soundcloud {
    height: max-content;
  }
}
