.section-header {
  // background-image: linear-gradient(to right bottom, #ebbc64d7, #eca76ed7),
  //   url('../imagens/content1.jpg');

  background-image: url('../imagens/bg-1.png'), url('../imagens/content1.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center 33%;
  height: 100vh;
}

.home-hero {
  width: 85%;
  text-align: left;
  margin: auto;
  height: 90vh;
  position: relative;
  &__content {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    & h1 {
      animation: fadeIn 1.5s ease-in backwards;
      backface-visibility: hidden;
    }
  }
}

.section-about {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: url(../imagens/bg-about.png) no-repeat;
  background-position: top;
  background-size: cover;

  // teste de popup
  position: relative;
}

.info {
  margin: 0 auto;
  height: 90vh;

  background-image: url('../imagens/bg.png'), url('../imagens/content3.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, 25vw);
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.footer {
  height: max-content;
  background-color: $color-blue;
}
