@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&family=Yanone+Kaffeesatz:wght@300;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: Yanone Kaffeesatz;
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 110px;
}

h2 {
  font-family: Yanone Kaffeesatz;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
}

h3 {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.main-page {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ebbc64d7), to(#eca76ed7)), url("/imagens/content1.jpg");
  background-image: linear-gradient(to right bottom, #ebbc64d7, #eca76ed7), url("/imagens/content1.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  padding-top: 10px;
  margin: 0px auto;
}

header .logo-container .logo {
  max-width: 150px;
}

header .nav-links-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-bottom: 12px;
}

header .nav-links-container .nav-links .nav-link a {
  text-decoration: none;
  font-size: 16px;
  padding: 0 15px;
  color: white;
}

@media (max-width: 710px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0px;
    margin: 0px auto 20px auto;
  }
  header .logo-container .logo {
    max-width: 150px;
  }
  header .nav-links-container .nav-links .nav-link a {
    font-size: 12px;
    padding: 0 10px;
  }
}

.home-hero {
  width: 85%;
  text-align: left;
  margin: auto;
  height: 90vh;
  position: relative;
}

.home-hero .chamada {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-about {
  background: url(/imagens/bg-about.png) no-repeat center center;
  background-size: cover;
  height: 180vh;
}

.home-about .home-about-container {
  padding-top: 24px;
  width: 85%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 30px;
  place-content: center center;
  grid-auto-flow: dense;
}

.home-about .home-about-container .about-title {
  grid-column: 1 / -1;
  padding-bottom: 15px;
}

.home-about .home-about-container .video-container {
  -ms-grid-row: 2;
  grid-row: 2;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-about .home-about-container .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-about .home-about-container .about-text {
  line-height: 1.5rem;
  text-align: justify;
}

.home-about .home-about-container .about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-about .home-about-container .about-img img {
  max-width: 450px;
}

.home-about .home-about-container .about-text2,
.home-about .home-about-container .about-img {
  line-height: 1.5rem;
  text-align: justify;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 30px;
}

@media (max-width: 976px) {
  .home-about .home-about-container {
    gap: 10px;
  }
  .home-about .home-about-container .about-text {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .home-about .home-about-container .about-text2 {
    display: none;
  }
  .home-about .home-about-container .about-img {
    display: none;
  }
}

.home-about .integrantes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 85%;
  margin: auto;
  place-items: center center;
  gap: 20px;
}

.home-about .integrantes .integrante {
  width: 200px;
  height: 264px;
  padding-top: 24px;
}

.home-about .integrantes .integrante > img {
  max-width: 200px;
  border: 5px solid white;
  position: absolute;
  display: block;
  z-index: 0;
}

.home-about .integrantes .integrante > .hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: inherit;
  height: inherit;
  z-index: -1;
  text-align: center;
  background-color: rgba(236, 167, 110, 0.8);
}

.home-about .integrantes .integrante:hover .hover {
  z-index: 1;
}

@media (max-width: 976px) {
  .home-about .integrantes {
    -ms-grid-columns: minmax(175px, 1fr) minmax(180px, 1fr);
        grid-template-columns: minmax(175px, 1fr) minmax(180px, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */