@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&family=Yanone+Kaffeesatz:wght@300;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: Yanone Kaffeesatz;
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 110px;
}

h2 {
  font-family: Yanone Kaffeesatz;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
}

h3 {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.main-page {
  background: url(/imagens/bg-linha.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  padding-top: 10px;
  margin: 0px auto;
}

header .logo-container .logo {
  max-width: 150px;
}

header .nav-links-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-bottom: 12px;
}

header .nav-links-container .nav-links .nav-link a {
  text-decoration: none;
  font-size: 16px;
  padding: 0 15px;
  color: white;
}

@media (max-width: 710px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
    margin: 0px auto 20px auto;
  }
  header .logo-container .logo {
    max-width: 150px;
  }
  header .nav-links-container .nav-links .nav-link a {
    font-size: 12px;
    padding: 0 10px;
  }
}

.home-hero {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
}

.home-hero .chamada {
  padding-left: 20px;
  margin-right: 100px;
}

.home-hero .chamada h1 {
  font-size: 100px;
  line-height: 110px;
}

.home-hero .foto-hero {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 30px;
}

.home-hero .foto-hero img {
  width: 100%;
  margin-top: 20px;
  min-width: 400px;
  border: 4px solid #ffffff;
  -webkit-transform: rotate(7.12deg);
          transform: rotate(7.12deg);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1000px) {
  .home-hero .chamada {
    margin-right: 60px;
  }
  .home-hero .chamada h1 {
    font-size: 75px;
    line-height: 90px;
  }
  .home-hero .chamada h3 {
    font-size: 1.1rem;
  }
  .home-hero .foto-hero img {
    max-width: 339px;
    color: white;
  }
}

@media (max-width: 810px) {
  .home-hero .chamada h1 {
    font-size: 65px;
    line-height: 70px;
  }
  .home-hero .chamada h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .home-hero .foto-hero img {
    max-width: 300px;
    max-width: 300px;
  }
}

@media (max-width: 710px) {
  .home-hero {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    position: relative;
    margin-top: -120px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-hero .chamada {
    margin: 25px auto 0 auto;
  }
  .home-hero .foto-hero {
    text-align: center;
  }
  .home-hero .foto-hero img {
    max-width: 300px;
    min-width: 300px;
  }
}

.home-about {
  background-image: url(/imagens/bg-about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200vh;
}

.home-about .home-about-container {
  padding-top: 2%;
  width: 85%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(380px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: auto;
  grid-column-gap: 30px;
  place-content: center center;
  grid-auto-flow: dense;
}

.home-about .home-about-container .about-title {
  grid-column: 1 / -1;
  padding-bottom: 15px;
}

.home-about .home-about-container .video-container {
  -ms-grid-row: 2;
  grid-row: 2;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.home-about .home-about-container .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-about .home-about-container .about-text {
  line-height: 1.5rem;
  text-align: justify;
  margin-bottom: 20px;
  margin-right: 10px;
}

.home-about .home-about-container .about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-about .home-about-container .about-img img {
  max-width: 450px;
}

.home-about .home-about-container .about-text2,
.home-about .home-about-container .about-img {
  line-height: 1.5rem;
  text-align: justify;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-top: 30px;
}

@media (max-width: 930px) {
  .home-about .home-about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-about .home-about-container .about-text {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .home-about .home-about-container .about-text2 {
    display: none;
  }
  .home-about .home-about-container .about-img {
    display: none;
  }
}

.home-about .integrantes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 50px auto 20px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-about .integrantes .integrante {
  width: 225px;
  height: 297px;
  margin-top: 15px;
}

.home-about .integrantes .integrante > img {
  max-width: 225px;
  border: 5px solid white;
  position: absolute;
  display: block;
  z-index: 0;
  margin-right: 1px;
}

.home-about .integrantes .integrante > .hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: inherit;
  height: inherit;
  z-index: -1;
  text-align: center;
  background-color: rgba(236, 167, 110, 0.8);
}

.home-about .integrantes .integrante:hover .hover {
  z-index: 1;
}

@media (max-width: 930px) {
  .home-about .integrantes {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .home-about .integrantes .integrante {
    width: 150px;
    height: 196px;
  }
  .home-about .integrantes .integrante > img {
    max-width: 150px;
  }
}

@media (max-width: 620px) {
  .home-about .integrantes {
    margin: 10px auto;
  }
  .home-about .integrantes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    place-items: center center;
  }
}
/*# sourceMappingURL=style.css.map */