// ***********
// GLOBAL
// ***********

$color-yellow: #EBBB64;
$color-red: #ECA76E;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&family=Yanone+Kaffeesatz:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    color: white;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    line-height: 110px;
}

h2 { 
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    

}

h3 {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.main-page {
    background-image: url(/imagens/bg-linha.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    height: 100vh;    
    
}


// ***********
// HEADER
// ***********

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    padding-top: 10px;
    margin: 0px auto;    
    .logo-container{
        .logo {
            max-width: 150px;
        }
    }
    .nav-links-container {
                
        .nav-links {
            display: flex;
            list-style: none;
            padding-bottom: 12px;
            .nav-link a{
                text-decoration: none;
                font-size: 16px;
                padding: 0 15px;
                color: white;          
                   
            }
        }
    }
}

@media (max-width: 720px) {
    header {
        flex-direction: column;                
        justify-content: center;        
        padding-top: 10px;
        margin: 0px auto;    
        .logo-container{
            .logo {
                max-width: 150px;
            }
        }
        .nav-links-container {
                    
            .nav-links {                
                .nav-link a{                    
                    font-size: 12px;
                    padding: 0 10px;
                              
                       
                }
            }
        }
    }
}

// ***********
// HOME
// ***********

.home-hero {
    width: 85%; 
    margin: 2% auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
    .chamada {
        padding-left: 20px;        
        margin-right: 100px;
        h1 {            
            font-size: 100px;
            line-height: 110px;
        } 
                
        
    }
    .foto-hero{
        flex: 1;
        padding-top: 30px;
    }  
    .foto-hero img{
        width: 100%;
        margin-top: 20px;
        min-width: 400px;        
        border: 4px solid #FFFFFF;        
        transform: rotate(7.12deg);
        flex: 1;
        
    }    
}

@media (max-width: 1000px) {
    .home-hero {        
        .chamada {            
            margin-right:60px;
            h1 {                
                font-size: 75px;
                line-height: 90px;
            } 
            h3 {
                font-size: 1.1rem;
            }                      
        }      
        .foto-hero img{
            max-width: 339px;
            color: white;
        }
    }
}

@media (max-width: 800px) {
    .home-hero {  
        margin-top: 50px;      
        .chamada {                    
            margin-right:20px;
            h1 {                
                font-size: 65px;
                line-height: 70px;
            } 
            h3 {
                font-size: 1rem;
                line-height: 1.5rem;
            }                               
        }
        .foto-hero img{            
            max-width: 339px;            
            min-width: 300px;
        }           
    }
}

@media (max-width: 630px) {
    .home-hero {  
        margin: 0px auto;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
             
        
        .chamada {                    
            margin: 0px 0.5%;
            
            h1 {                
                font-size: 50px;
                line-height: 70px;
            } 
            h3 {
                font-size: .9rem;
                line-height: 1.5rem;
            }                               
        }
        .foto-hero{
            padding-top: 0;
            text-align: center;
        
        img{            
            max-width: 285px;            
            
        }           
    }
    }
}


// ***********
// HOME - ABOUT
// ***********

.home-about {
    height: 100vh;    
    background-color: rgba(3, 32, 44, 0.685);
    .home-about-container {
        padding-top: 5%;
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(350px ,.7fr) );
        grid-template-rows: 60px 315px;
        grid-auto-rows: 315px;
        gap: 30px;
        place-content: center center;
        grid-auto-flow: dense;
        .about-title{
            grid-column: 1 / -1;
        }
        .video-container{
            grid-row: 2;
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            object-fit: contain;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height:100%;
            }
        }
        .about-text{
            line-height: 1.5rem;
            text-align: justify;
            margin-bottom: 20px;
            margin-right: 10px;
        }
    }

    // .home-about-container {
    //     padding-top: 5%;
    //     display: flex;
    //     flex-wrap: wrap;
    //     .video-container {
    //         margin-left: 100px;
    //         margin-right: 50px;
    //         margin-top: 70px;
            
    //     }
    //     .about-container {
    //         max-width: 500px;
    //         
    //     }
    
    // }
    // .text-out {
    //     padding: 20px 140px 0 100px;
    //     line-height: 1.5rem;
    //     text-align: justify;
    //     display: none;
        
    // }


}
